html{
    font-size: 25px;
}

body{
    /* background-image: url("Img/Blog_Back.jpg"); */
    background-color:#E6A09C;
    color:whitesmoke;
}

a:visited{
    color:#5587A0;
}

a:hover,a:active{
    color:#eee;
}

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-collapse: collapse;
    padding: 0.5em;
}

h3{
    color:#23AED7;
}

.PS{
    color: rgb(178, 255, 127);
}

h3{
    margin-left: 15px;
}

p{
    border-style: dashed;
    
    padding-left: 10px;
}

.introduction{
    color: #2F5E63;
}

#Catalogue{
    color: rgb(136, 0, 255);
}