html{
    font-size: 25px;
}

body{
    background-color:#E6A09C;
    color:whitesmoke;
}

a:visited{
    color:#5587A0;
}

a:hover,a:active{
    color:#eee;
}

table, tr, th, td, caption {
    border: 1px solid #eee;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-collapse: collapse;
    padding: 0.5em;
}
